*{margin:0;padding:0;}
body{
    font-size:14px;
    color:#666;
    font-family:"Microsoft YaHei";
    background: #f9f9f9;
}
.clear{
    clear:both;
    overflow: hidden;
}
a:hover{
    color:#ff3300;
    text-decoration:none;
}
a{color:#333;}
.mt-20{margin-top:20px;}
.mt-10{margin-top:10px;}
.mt-25{margin-top:25px;}
.mt-15{margin-top:15px;}
li{list-style:none;}
