*{margin:0;padding:0;}
.container{margin:0;padding:0;}
.header{
    width:1240px;
    margin:0 auto;
}
.header_navigation,.header_tittle{
    height:40px;
}
.header_tittle>ul>li>a,.header_news a,.header_reg_login a,.header_other a,.header_navtop>ul>li>a
{
    font-size: 14px;
    color:#333;
}
.searchbox {
    width:300px;
    float:right;
    margin-top: 22px;
}
.formbox{
    width:300px;height:32px;
    border:1px solid #f6ae66;
    background:url(../../image/header/search.png) 0 0 no-repeat;
}
.textbox{
    width:270px;height:32px;
    background: none;
    border:none;
    float: left;
    line-height: 32px;
    text-indent:10px;
    font-size: 14px;
    color:#999999;
}
.keywords{
    font-size:12px;
    line-height: 18px;
    padding-top: 6px;
}
.keywords a{ padding:0 5px;}
.header_top{
    width:1240px;height:100px;
}
.header_navtop{
    background:#fff;
    border-top:2px solid #EE7701;
    height:63px;
}
.navbox{height:168px;padding:10px 20px 0;}
.subnav{
    background:#fff3e7;
    padding:8px 20px 6px;
    height:38px;
    overflow: hidden;
}
.navbox dl{margin-bottom:0px;}
.navbox>dl>dt,.subnav>dl>dt{
    width:75px;height:23px;
    background:url(../../image/header/navdt.png) 0 0 no-repeat;
    float:left;
    font-size:12px;color:#fff;
    line-height: 23px;text-indent:11px;
    margin-right:13px;
    margin-top:4px;
}
.navbox>dl>dd,.subnav>dl>dd{
    width:1112px;
    float:left;
    margin-bottom:0px;
}
.navbox>dl>dd>a{
    display:inline-block;
    width:111px;height:31px;
    line-height:20px;
    float:left;
    padding:6px 0px 5px 10px;
    position:relative;
}
.subnav>dl>dd>a{
    display:inline-block;
    height:23px;
    line-height:23px;
    padding:0px 20px 0px 10px;
}
.navbox dl dd a+a::before{
    content:"";
    background:#acacac;
    width:1px;height:9px;
    position:absolute;
    left:0px;top:11px;
}
.navbox dl dd a i.h{
    display:inline-block;
    width:9px;height:9px;
    background:url(../../image/header/ico_hot.png) no-repeat;
    vertical-align:top;
    margin-left:3px;
}.navbox dl dd a i.n{
    display:inline-block;
    width:9px;height:9px;
    background:url(../../image/header/ico_new.png) no-repeat;
    vertical-align:top;
    margin-left:3px;
}
.red{color:#ea0000;}
.first::before{display:none;}
.subnav>dl>dd>a>p{
    display:inline-block;
    background:#ff7f00;
    height:12px;
    font-size:12px;font-family:宋体;
    vertical-align: middle;
    line-height: 12px;
    color:#fff;
    padding:0px 4px;
    margin-left:4px;
    border-radius:6px;
    margin-bottom: 0px;
}
.navbox>dl>.dt_2{background-position:0px -31px;}
.navbox>dl>.dt_3{background-position:0px -62px;}
.subnav>dl>dt{
    margin:0px 13px 0px 0px;
    background-position:0px -93px;
}
